body {
    background-image: url(BG-2.jpg);
}
.my-pic{
    border-radius: 50%;
    width:200px;
    height:200px;
}
.icon{
    width:40px;
    height:40px;
}

.recommendation .list-group-item{
    text-align: center;
}
